body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}

#cabeçalho{
    background-color: cadetblue;
    color: aliceblue;
    text-align: center;
}

#corpo {
    text-align: center;
    
}

.apresentacao{ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(83, 196, 196)
}

.tabela{
color: rgb(83, 196, 196);
text-align: center;
font-size: 30xp;
margin-left: auto;
margin-right: auto;

}

#rodape{
    text-align: center;
    text-decoration: underline ;
    width: 100%;
    background-color: aliceblue;
    position: fixed;
    bottom: 0%;

}

.x {
    height: 120px;
    width: 1000px;
}